{:deps    {org.clojure/clojure       {:mvn/version "1.9.0"}
           org.clojure/clojurescript {:mvn/version "1.10.339"}}
 :paths   ["src" "resources"]
 :aliases {:fig       {:extra-deps
                       {com.bhauman/figwheel-main {:mvn/version "0.1.9"}}
                       :extra-paths ["test"]}
           :clj       {:extra-paths ["test"]}
           :clj-rebel {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                       :extra-paths ["test" "target"]
                       :main-opts   ["-m" "rebel-readline.main"]}
           :cljs      {:main-opts ["-m cljs.main --repl"]}
           :build     {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min       {:main-opts ["-m" "figwheel.main" "-O" "advanced" "-bo" "dev"]}
           :test      {:extra-paths ["test"]
                       :main-opts   ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" hitch2.test-runner]}}}
