{:deps    {org.clojure/clojure       {:mvn/version "1.10.1"}
           org.clojure/clojurescript {:mvn/version "1.10.597"}
           rads/anomalies   {:mvn/version "0.1.13"}
           thheller/shadow-cljs      {:mvn/version "2.8.83"}}
 :paths   ["src" "src-java" "target/classes"]
 :aliases {
           ;; figwheel cljs dev
           :fig       {:extra-deps
                       {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                        criterium/criterium                 {:mvn/version "0.4.4"}}
                       :extra-paths ["dev-resources" "test" "bench" "target"]}
           :compile {:extra-deps  {badigeon/badigeon {:mvn/version "0.0.12"}}
                     :extra-paths ["support"]
                     :main-opts ["-m" "com.breezeehr.hitch2.compile-java" ]}
           :bench     {:extra-paths ["bench"]
                       :extra-deps  {criterium/criterium {:mvn/version "0.4.4"}}
                       :main-opts   ["-m" "hitch2.graph-bench"]}
           :bench-cljs {:extra-paths ["dev-resources" "bench"]
                       :extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                        :main-opts   ["-m" "figwheel.main" "-co" "bench.cljs.edn" "-m" hitch2.graph-bench]}

           ;; raw repls
           :clj       {:extra-paths ["test"]}
           :cljs      {:extra-paths ["test"]
                       :main-opts   ["-m cljs.main --repl"]}
           :clj-rebel {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                       :extra-paths ["test" ]
                       :main-opts   ["-m" "rebel-readline.main"]}

           ;; test runners
           :test      {:extra-paths ["test"]
                       :main-opts   ["-m" "hitch2.clojure-runner"]}
           :cljs-test {:extra-paths ["dev-resources" "test" "target"]
                       :extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                       :main-opts   ["-m" "figwheel.main" "-b" "test" "-r"]}

           :example {:extra-paths ["dev-resources" "example" "target"]
                     :extra-deps  {crinkle/crinkle {:mvn/version "2.0.0"}
                                   com.breezeehr/quiescent {:mvn/version "0.3.0"
                                                            :exclusions [cljsjs/react-dom cljsjs/react cljsjs/create-react-class]}
                                   com.breezeehr/react-hitch {:mvn/version "0.5.0-SNAPSHOT"
                                                              :exclusions [cljsjs/react-dom cljsjs/react org.clojure/clojurescript]}
                                   com.breezeehr/hitch2 {:mvn/version "0.4.0-SNAPSHOT" :exclusions [org.clojure/clojurescript]}}}}}
